body {
	font:1em ;
	font-family: 'Source Sans Pro', sans-serif;
	background:#DAEDE2;
}

a {color:#000; text-decoration:none;}
a:hover {color:#E31919;}
a:active {color:#FF0000;}

::selection { background:#C7C7C7; color:#000000; }
::-moz-selection { background:#C7C7C7 color:#000000; }
::-webkit-selection { background:#C7C7C7; color:#000000; }

/*  @font-face {
  font-family: 'Olympic Font';
  font-style: normal;
  font-weight: 400;
  src: local('Olympic Font'), local('Olympic Font'), url(http://storage.benholloway.co.uk/fonts/olympicfonts.otf) format('otf');
}  */

header {
	width:100%;
	position: fixed;
	top:0; left:0;
	z-index:10;
	font-size: 35px;text-align:center;
	color: #ffffff;
	background:#ff2819;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff2819),
		to(#ab0000));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 2px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

#wrap	{
	margin:auto;
	width:750px;
	height:520px;
	 margin-top:100px;
	 font-size:18px;
	 position:relative;
}

#hand1	{		/* styling, the blue box!!!! */
	width:335px;
	height:520px;
	float:left;
	top:0;
	position:absolute;
}

#hand2	{ 		/* styling, the blue box!!!! */
	width:335px;
	height:520px;
	float:right;
	top:0;
	margin-left:385px;
	position:absolute;
}

#wrapper	{	/* container, d.n.m.w. */
	width:100% !important;
	height:125px;
	bottom:0;
	left:0;
	position:absolute;
	text-align: center;
}

#card1	{	/* container, d.n.m.w. */
	width:305px;
	height:450px;
	left:0;
	border-radius:7px;
	background-color:#77C4D3;
}

#card2	{	/* container, d.n.m.w. */
	width:305px;
	height:450px;
	right:0;
	border-radius:7px;
	background-color:#77C4D3;
}

footer {
	width:600px;
	height:125px;
	margin:0 auto;
	display:inline-block !important;
	background-color: #000;
} 

p.title		{padding:28px;font-size:2em;font-family: 'Source Sans Pro', sans-serif;}
img.menu	{width:360px;height:300px;}

section.title	{
	text-align:center;
	font-size:1.25em;
	background-color:#DAEDE2;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	margin:auto;
	margin-top:30px;
	margin-left:15px;
	width:245px;
	margin-left:30px;
	padding-top:8px;
	padding-bottom:8px;
}

section.image	{
	width:245px;
	height:160px;
	margin-left:30px;
	margin-top:5px;
	background-image:url('http://storage.benholloway.co.uk/img/am/am%20background.jpg');
	background-size:100%;
}

section.data	{
	background-color:#DAEDE2;
	width:245px;
	height:182px;
	margin-left:30px;
	margin-top:5px;
	-webkit-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
}

ul.data	{
	margin-left:30px;
	padding-top:30px;
}



